:root {
	--color-50: #fefbe0;
	--color-100: #f8f3b6;
	--color-200: #f4eb8a;
	--color-300: #f0e35e;
	--color-400: #ebdb32;
	--color-500: #d2c21c;
	--color-600: #a39713;
	--color-700: #756c0b;
	--color-800: #464104;
	--color-900: #181600;
}

* {
	box-sizing: border-box;

	min-height: 0;
	max-height: 100%;
	min-width: none;
	max-width: 100%;

	padding: 0;
	margin: 0;

	text-wrap: wrap;
}

#root {
	margin: 0.2rem;
}

#content {
	margin: 0.6rem;
}

.btn.btn-download {
	background-color: var(--color-800);
	color: aliceblue;
	opacity: 0.7;
	font-weight: 600;
	border: 2px solid black;
	margin: 1rem 1rem auto auto;
}

.btn.btn-download:hover {
	background-color: var(--color-700);
}

@media (max-width: 756px) {
	.hidden-mobile {
		display: none;
	}
}

@media (min-width: 756px) {
	.grid {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 1.5rem;
	}
	.accent-right {
		border-right: var(--color-700) solid 2px;
		padding-right: 2rem;
	}
}

@media print {
	* {
		font-family: "Times New Roman", Times, serif; /* Choose web-safe or universally supported fonts */
		print-color-adjust: exact;
		font-weight: normal;
		-webkit-print-color-adjust: exact; /* Ensure colors and backgrounds print accurately */
	}
	.btn.btn-download {
		display: none;
	}
	.grid {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 2rem;
	}
	:root {
		font-size: 0.7em;
	}
}

.icon {
	height: 25px;
	width: 25px;
}
